<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="device-width, initial-scale=1.0">

    <title>404</title>
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}">
    <!--引入自定义CSS-->
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
 <!--导航-->
    <nav class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Bolg</h2>
	         <a href="#" th:href="@{/}" class="m-item item m-mobile-hide" th:classappend="${n==1}? 'active':''"><i class="small home icon"></i><span >首页</span></a>
            <a href="#" th:href="@{/types/0}" class="m-item item m-mobile-hide" th:classappend="${n==2}? 'active':''"><i class="small idea icon"></i><span>分类</span></a>
            <a href="#" th:href="@{/tags/0}" class="m-item item m-mobile-hide" th:classappend="${n==3}? 'active':''" ><i class="small tags icon" ></i><span >标签</span></a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" th:classappend="${n==4}? 'active':''" ><i class="small clone icon" ></i><span>归档</span></a>
            <a href="#" th:href="@{/leaveMessage}" class="m-item item m-mobile-hide" th:classappend="${n==6}? 'active':''"><i class="small comment icon"></i><span>留言</span></a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${n==5}? 'active':''"><i class="small info icon"></i><span>站长信息</span></a>
                <div class="right m-item item m-mobile-hide">
                    <form name="search" action="" target="_blank" method="post">
                        <div class="ui icon inverted  input">
                            <input type="text" name="query" placeholder="Search..">
                            <i class="search icon link"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--menu toggle无任何显示意思-->
        <a href="#" class="ui icon menu toggle black button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--导航 end-->
    <br>
    <br>
    <br>
    <br>
    <div class="m-container-small m-padded-tb-big" >
        <div class="ui error message">
            <div class="ui container" style="height: 400px;text-align: center;">
                <h2>400</h2>
                <p>对不起，输入有误！</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!--底部footer start-->
<footer  class="ui inverted vertical segment m-padded-tb-massive ">
    <div class="ui center aligned container ">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header m-opacity-min">站长微信</h4>
                    <div class="item">
                        <img src="../static/images/WeChat.jpg" th:src="@{/images/mz.jpg}" CLASS="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-min">最受欢迎</h4> 
                <div id="newblog-container">
                    <div class="ui inverted link list" th:fragment="newblogList">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="item" th:each="blog : ${newblogs}" th:text="${blog.title}">我在等你2019年</a>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-min">联系作者</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">b站</a>
                    <a href="#" class="item">QQ:1515177029</a>
                    <a href="#" class="item">邮箱:yerenping@aliyun.com</a>
                </div>

            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-min">关于作者</h4>
                <p class="m-text-thin m-text-spaced m-opacity-min m-text-lined">作者是一名springboot爱好者,是一名正在努力奋斗的学生,主要学习JavaEE开发,Web前端等技术.作者是个喜欢旅行的孩子,目标是游遍全世界！</p>
                <!--后台管理员登录入口-->
                <h4 class="ui inverted header m-opacity-min"><a class="item m-opacity-tiny" href="#" th:href="@{/admin}" style="color: #6577b9">后台管理</a></h4>
            </div>
        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copy © 2020 - 2021 作者:小白</p>
    </div>
</footer>
    <!--底部footer end-->
    <!--引入jQuery-->
<script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script type="text/javascript">
$('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
});
</script>
</body>
</html>